[Desktop Entry]
Type=Application
Name=Install MagicOS
Comment=Install the system to disk
Exec=/usr/local/bin/magicos-launcher.sh
Icon=calamares
Terminal=false
Categories=System;
