[Desktop Entry]
Name=MagicOS Theme
Comment=Glassy theme for MagicOS, based on Marble UI
X-KDE-PluginInfo-Author=Zayronxio & MagicOS Team
X-KDE-PluginInfo-Name=MagicOS-Theme
X-KDE-PluginInfo-License=LGPL3.0
X-KDE-PluginInfo-EnabledByDefault=true
