[Unit]
Description=Network Manager
After=network-pre.target
Wants=network-pre.target

[Service]
Type=dbus
BusName=org.freedesktop.NetworkManager
ExecStart=/usr/bin/NetworkManager --no-daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
