[Unit]
Description=Restore MagicOS Calamares Customizations
After=local-fs.target
Before=calamares.service

[Service]
Type=oneshot
# Esse comando garante que o NetworkManager suba no Live, resolvendo conflitos do archiso padrão
ExecStart=/usr/bin/bash -c "mkdir -p /etc/calamares && cp -rf /etc/calamares-custom/* /etc/calamares/ && systemctl start NetworkManager"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
